
.one {
  background-image:url("https://t3.gstatic.com/licensed-image?q=tbn:ANd9GcTHtQ-eXsljBaNo7G4AjmJe01i82aVyxRn0mO0C4SFj0ZS7sqMY_v8GW6b-vsMDwbz1");
  background-size: cover;
  width: 1350px;
  height: 200px;
}
.two {
  color: black;
  font-size: 35px;
}
.three {
  color: black;
  font-size: 30px;

}
.one2 {
  text-align: right;
top: 100px;
left: 40px;
}
.tr {
  font-size: 30px;
}
.gg {
  background-image: url(https://youtube.com/embed/-XnRECTBGTs?autoplay=1&enablejsapi=1&origin=https://www.bing.com&rel=0&mute=0);
  background-size: cover;
  width: 1000px;
  height: 900px;
}
.pk {
  background-image: url();
  background-size: cover;
 
}
.pp {
 
  background-size: cover;

  text-align: right;
  
}
.pt {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdfkaJZqftroMqZnovS8iiyqBPrKgHygHMohUiGbMtAw&s);
  background-size: cover;
  width: 400px;
  height: 300px;

}

* {
  margin: 0;
  padding: 0;
}
